.contact {
    width: 700px;
    border: 1px solid #7e4a05;
    padding: 15px;
    border-radius: 8px;
    background-color: #975f16;
    text-align: center;
    
    
}

h1, h2 {
    color: #bea470;
}

.a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

}

body {
    background-color: #312009;
}

.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #312009
}

footer {
    background-color: rgb(58, 24, 9);
}

p {
    color:rgb(255, 255, 255)
}